<div id="collection-listing--collection-grid" class="collection-grid fs-row text-center">

  {% for collection in collections %}

  {% if collection.handle == 'cookies' %}       {% assign bgColor = 'lightblue' %}   {% endif %}
  {% if collection.handle == 'chocolate' %}     {% assign bgColor = 'orange' %}      {% endif %}
  {% if collection.handle == 'popcorn' %}       {% assign bgColor = 'purple' %}      {% endif %}
  {% if collection.handle == 'cupcakes' %}      {% assign bgColor = 'pink' %}        {% endif %}
  {% if collection.handle == 'gifts' %}         {% assign bgColor = 'yellow' %}      {% endif %}
  {% if collection.handle == 'other-goodies' %} {% assign bgColor = 'lightgreen' %}  {% endif %}

  <div class="collection-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-half equal">
    <a class="coverlink" href="{{ collection.url }}"></a>
    <span class="btn btn-collection bg-color bg-color-{{ bgColor }}">{{ collection.title }}</span>
    <div class="collection-grid--item_thumb">
      <img src="{{ collection | img_url: 'large' }}" alt="{{ collection.image.alt }}" class="img-responsive" />
    </div>
  </div>
  {% endfor %}

</div>

<script>
  $(document).ready(function(){
    fbq('track', 'ViewContent');
  });
</script>