<div id="cart" class="fs-grid">
  <div class="fs-row">
    <div class="fs-cell fs-all-full">
      <div id="shappify-qty-cart-msg"></div>
      <form action="/cart" method="post" novalidate class="cart table-wrap">
        <header class="fs-row">
          <hr class="fs-cell fs-all-full divider">
          <div class="fs-cell fs-lg-4 fs-md-3 fs-sm-half fs-lg-push-2 text-left">Product</div>
          <div class="fs-cell fs-lg-2 fs-md-1 fs-sm-hide text-center">Price</div>
          <div class="fs-cell fs-lg-2 fs-md-1 fs-sm-fourth text-center">Quantity</div>
          <div class="fs-cell fs-lg-2 fs-md-1 fs-sm-fourth text-right">Total</div>
          <hr class="fs-cell fs-all-full divider">
        </header>
        <div class="cart-content fs-row">
          <script>mixed_cart = false;</script>
          {% for item in cart.items %} 

          {% assign prod_index = forloop.index0 %} 
          <input type="hidden" name="product_id[{{ forloop.index0 }}]" value="{{ item.product.id }}">
          <input type="hidden" name="variant_id[{{ forloop.index0 }}]" value="{{ item.variant.id }}">
          <input type="hidden" name="quantity[{{ forloop.index0 }}]" value="{{ item.quantity }}">

          {% include 'cart-item' %}
          {% endfor %}
        </div>
        <div class="cart-info fs-row">
          <div class="fs-cell fs-lg-7 fs-md-3 fs-sm-3">
            <div class="fs-row">
              <div class="fs-cell fs-lg-half fs-md-half fs-sm-3">
                <label for="CartSpecialInstructions">{{ 'cart.general.note' | t }}</label>
                <textarea name="note" class="input-full" id="CartSpecialInstructions">{{ cart.note }}</textarea>
              </div>
              <div id="is-a-gift" class="fs-cell fs-lg-half fs-md-half fs-sm-3">
                <label for="gift-note">Gift message (free and optional):</label>
                <textarea name="attributes[gift-note]" id="gift-note">{{ cart.attributes.gift-note }}</textarea>
              </div>
            </div>
          </div>
          <div class="cart-total fs-cell fs-lg-4 fs-md-3 fs-sm-3 fs-right text-right">
            <span class="cart-total-price"><small>SUBTOTAL</small> <strong>{% include 'bold-ro-price-fix' %}{{ cart.total_price | money }}</strong></span><br>
            <span class="cart-total-shipping"><small>Shipping and taxes calculated at checkout.</small></span><br><br>
            <input type="submit" name="update" class="cart-total-update btn btn-secondary" value="{{ 'cart.general.update' | t }}">
            <button type="submit" name="checkout" class="cart-total-update btn btn-primary">{{ 'cart.general.checkout' | t }} &rarr;</button>
            <hr class="invisible">
          </div>
          <div class="fs-cell fs-all-full">
            <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}" > 
            <input name="email" type="hidden" value="{{ customer.email }}" > 
            <input name="address1" type="hidden" value="{{ customer.default_address.address1 }}" > 
            <input name="address2" type="hidden" value="{{ customer.default_address.address2 }}" > 
            <input name="city" type="hidden" value="{{ customer.default_address.city }}" > 
            <input name="company" type="hidden" value="{{ customer.default_address.company }}" > 
            <input name="country" type="hidden" value="{{ customer.default_address.country }}" > 
            <input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}" > 
            <input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}" > 
            <input name="phone" type="hidden" value="{{ customer.default_address.phone }}" > 
            <input name="province" type="hidden" value="{{ customer.default_address.province }}" > 
            <input name="zip" type="hidden" value="{{ customer.default_address.zip }}" >
            {% include 'bold-ro-cart' %}
          </div>
        </div>
      </form>

    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    fbq('track', 'InitiateCheckout');
  });
</script>