<section id="collection" class="collection-grid fs-row">
  <div class="fs-cell fs-full-all">

    <div class='fs-row'>
      <div class="fs-cell fs-all-full">
        {% include 'mailchimp' %}
        <div id="collection--hero" style="background-image:url('{{ collection.image.src | img_url: '1024x1024' }}');">
          <div class="wrapper fs-cell fs-all-full fs-contained">
            <a href="/collections" class="ss-gizmo ss-navigateleft">Back to Treats</a>
            <h1>{{ collection.title }}</h1>
          </div>
        </div>
      </div>
    </div>

    <hr class="invisible">

    <div id="collection-listing--collection-grid" class="collection-grid fs-row text-center">
    {% if collection.handle == 'cookies' %}

    {% comment %}
      Cookies are displayed a bit different than the rest of the items, for some reason. 
      Below, I'm trying to organize it in a category/subcategory type relationship. 
    {% endcomment %}

    {% assign sorted_by_type = collection.products | sort: 'type' %}
    {% for product_type in collection.all_types %}
      
    <div class="collection-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-half equal">
      {% assign the_type = product_type %}
      <span class="btn btn-collection bg-color bg-color-blue">{{ the_type }}</span>
      {% paginate collection.products by 5000 %}
      <div class="collection-grid--item_thumb">
        <div class="collection-grid--item_children">
          {% for product in collection.products %}
          {% if product.type == the_type %}
          <a href="{{ product.url | within: collection }}" class="item"><span>{{ product.title }}</span></a>
          {% endif %}
          {% endfor %}
        </div>
        {% assign img = the_type| handleize | append: '.jpg' | prepend: 'type-' %} 
        <img src="{{ img | asset_url }}" alt="{{ product.image.alt }}" class="img-responsive" />
      </div>
      {% endpaginate %}
    </div>
    {% endfor %}
    
    {% else %}

    {% comment %}
      Here's where it becomes your typical collection display.
    {% endcomment %}

    {% for product in collection.products %}
    {% include 'product-grid-item' %}
    {% endfor %}

    {% endif %}

    </div>


  </div>
</section>
<hr class="invisible">