<section id="collection" class="collection-grid fs-row">
  <div class="fs-cell fs-full-all">

    {% include 'mailchimp' %}

    <div id="collection--slider" class="banner slider text-center">
      <div class="slider--slide">
        <a href="/products/test-thingy" class="coverlink"></a>
        <div class="banner--centered">
          <h1>New! Cookie Sandwiches</h1>
          <h2>Chocolate Brownie Cookie Sandwiches with Vanilla Filling</h2>
        </div>
        <div class="slider--background" style="background-image:url('http://i.imgur.com/37w80TG.jpg');"></div>
      </div>
    </div>

    <header id="collection--header" class="header">
      <h1 class="header--title">{{ collection.title }}</h1>
    </header>

    <div id="collection-listing--collection-grid" class="collection-grid fs-row text-center">
    {% if collection.handle == 'cookies' %}

    {% comment %}
      Cookies are displayed a bit different than the rest of the items, for some reason. 
      Below, I'm trying to organize it in a category/subcategory type relationship. 
    {% endcomment %}

    {% assign sorted_by_type = collection.products | sort: 'type' %}
    {% for product_type in collection.all_types %}
      
    <div class="collection-grid--item fs-cell fs-lg-4 fs-md-2 fs-sm-half equal">
      {% assign the_type = product_type %}
      <span class="btn btn-collection bg-color bg-color-blue">{{ the_type }}</span>
      {% paginate collection.products by 5000 %}
      <div class="collection-grid--item_thumb">
        <div class="collection-grid--item_children">
          {% for product in collection.products %}
          {% if product.type == the_type %}
          <a href="{{ product.url }}" class="item"><span>{{ product.title }}</span></a>
          {% endif %}
          {% endfor %}
        </div>
        {% assign img = the_type| handleize | append: '.jpg' | prepend: 'type-' %} 
        <img src="{{ img | asset_url }}" alt="{{ product.image.alt }}" class="img-responsive" />
      </div>
      {% endpaginate %}
    </div>
    {% endfor %}
    
    {% else %}

    {% comment %}
      Here's where it becomes your typical collection display.
    {% endcomment %}

    {% for product in collection.products %}
    {% include 'product-grid-item' %}
    {% endfor %}

    {% endif %}

    </div>


  </div>
</section>
<hr class="invisible">