<div id="faq" class="page--faq">

  <div id="faq--points" class="bg-color bg-color-bggray">

    <div id="faq--specs" class="fs-row">
      <div class="fs-cell fs-lg-10 fs-md-5 fs-sm-3 fs-centered">
        <div class="fs-row">
          <span class="spec-icon fs-cell fs-lg-fifth fs-md-fifth fs-sm-fifth"><img src="{{ 'icon-specs-1.svg' | asset_url }}" class="img-responsive" /></span>
          <span class="spec-icon fs-cell fs-lg-fifth fs-md-fifth fs-sm-fifth"><img src="{{ 'icon-specs-2.svg' | asset_url }}"  class="img-responsive" /></span>
          <span class="spec-icon fs-cell fs-lg-fifth fs-md-fifth fs-sm-fifth"><img src="{{ 'icon-specs-3.svg' | asset_url }}" class="img-responsive" /></span>
          <span class="spec-icon fs-cell fs-lg-fifth fs-md-fifth fs-sm-fifth"><img src="{{ 'icon-specs-5.svg' | asset_url }}"   class="img-responsive" /></span>
          <span class="spec-icon fs-cell fs-lg-fifth fs-md-fifth fs-sm-fifth"><img src="{{ 'icon-specs-4.svg' | asset_url }}"  class="img-responsive" /></span>
        </div>
      </div>
    </div>
    <hr class="invisible">

    <div id="faq--explain" class="fs-row">
      <div class="fs-cell fs-lg-10 fs-md-5 fs-sm-3 fs-centered">
        <div class="page--content">
          {{ page.content }}
        </div>
      </div>
    </div>

  </div>

  <hr class="invisible">

  <div id="faq--shipping" class="page--content">
    <div class="fs-row">
      <div class="fs-cell fs-lg-10 fs-md-6 fs-sm-3 fs-centered">
        <div class="fs-row item">
          <div class="fs-cell fs-lg-3 fs-md-1 fs-sm-fourth icon"><img src="{{ 'icon-shipping.svg' | asset_url }}" class="img-responsive" /></div>
          <div class="fs-cell fs-lg-9 fs-md-4 fs-sm-2">
            <header><h2 class="item-title">Shipping/Delivery</h2></header>
            <ul class="accordion">
            {% for article in blogs.shipping-delivery.articles %}
            {% include 'accordion-item' %}
            {% endfor %}
            </ul>
          </div>
        </div>
        <div class="fs-row item">
          <div class="fs-cell fs-lg-3 fs-md-1 fs-sm-fourth icon"><img src="{{ 'icon-care.svg' | asset_url }}" class="img-responsive" /></div>
          <div class="fs-cell fs-lg-9 fs-md-4 fs-sm-2">
            <header><h2 class="item-title">Care of Divvies Products</h2></header>
            <ul class="accordion">
            {% for article in blogs.care-of-divvies-products.articles %}
            {% include 'accordion-item' %}
            {% endfor %}
            </ul>
          </div>
        </div>
        <div class="fs-row item">
          <div class="fs-cell fs-lg-3 fs-md-1 fs-sm-fourth icon"><img src="{{ 'icon-cooking.svg' | asset_url }}" class="img-responsive" /></div>
          <div class="fs-cell fs-lg-9 fs-md-4 fs-sm-2">
            <header><h2 class="item-title">Ingredients</h2></header>
            <ul class="accordion">
            {% for article in blogs.ingredients.articles %}
            {% include 'accordion-item' %}
            {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr class="invisible">

  <div id="faq--info" class="bg-color-bggray page-section page--content">
    <div class="fs-row">
      <div class="fs-cell fs-lg-10 fs-md-6 fs-sm-3 fs-centered">

        <div class="fs-row item page--content-main">
          <div class="fs-cell fs-all-full">
            <header><h2 class="item-title">{{ pages.product-information.title }}</h2></header>
            {{ pages.product-information.content }}
          </div>
        </div>

        <div class="fs-row item">
          <div class="fs-cell fs-lg-3 fs-md-1 fs-sm-fourth icon"><img src="{{ 'icon-cookies.svg' | asset_url }}" class="img-responsive" /></div>
          <div class="fs-cell fs-lg-9 fs-md-4 fs-sm-2">
            <header><h2 class="item-title">{{ pages.our-cookies.title }}</h2></header>
            {{ pages.our-cookies.content }}
          </div>
        </div>

        <div class="fs-row item">
          <div class="fs-cell fs-lg-3 fs-md-1 fs-sm-fourth icon"><img src="{{ 'icon-popcorn.svg' | asset_url }}" class="img-responsive" /></div>
          <div class="fs-cell fs-lg-9 fs-md-4 fs-sm-2">
            <header><h2 class="item-title">{{ pages.our-popcorn.title }}</h2></header>
            {{ pages.our-popcorn.content }}
          </div>
        </div>

        <div class="fs-row item">
          <div class="fs-cell fs-lg-3 fs-md-1 fs-sm-fourth icon"><img src="{{ 'icon-cupcakes.svg' | asset_url }}" class="img-responsive" /></div>
          <div class="fs-cell fs-lg-9 fs-md-4 fs-sm-2">
            <header><h2 class="item-title">{{ pages.our-cupcakes.title }}</h2></header>
            {{ pages.our-cupcakes.content }}
          </div>
        </div>

        {% comment %}
        <div class="fs-row item">
          <div class="fs-cell fs-lg-3 fs-md-1 fs-sm-fourth icon"><img src="{{ 'icon-candy.svg' | asset_url }}" class="img-responsive" /></div>
          <div class="fs-cell fs-lg-9 fs-md-4 fs-sm-2">
            <header><h2 class="item-title">{{ pages.our-candy.title }}</h2></header>
            {{ pages.our-candy.content }}
          </div>
        </div>
        {% endcomment %}

        <div class="fs-row item">
          <div class="fs-cell fs-lg-3 fs-md-1 fs-sm-fourth icon"><img src="{{ 'icon-chocolate.png' | asset_url }}" class="img-responsive" /></div>
          <div class="fs-cell fs-lg-9 fs-md-4 fs-sm-2">
            <header><h2 class="item-title">{{ pages.our-chocolate.title }}</h2></header>
            {{ pages.our-chocolate.content }}
          </div>
        </div>

      </div>
    </div>
  </div>

   <div class="quote text-center">
      <div class="fs-row">
         <div class="fs-cell fs-lg-8 fs-md-5 fs-sm-3 fs-centered">
            <header><h1>{{ pages.any-questions.title }}</h1></header>
            {{ pages.any-questions.content }}
         </div>
      </div>
   </div>

</div>


<script>
  $(document).ready(function(){
    fbq('track', 'ViewContent');
  });
</script>