
<!-- Bold: QB - Step 1-1 -->
{% include 'shappify-qb-no-select' %}
<!-- // end Bold code -->

{% assign add_to_cart = 'Add to cart' %}
{% assign sold_out = 'Sold Out' %}
{% assign unavailable = 'Unavailable' %}

{% assign subtitle = product.metafields.subtitle %}
{% assign tabs = product.metafields.tabs %}

<section id="product" itemscope itemtype="http://schema.org/Product">

  <meta itemprop="url" content="{{ shop.url }}{{ product.url }}" />
  <meta itemprop="image" content="{{ product | img_url: 'grande' }}" />

  <div class="fs-row">

    <header id="product--header" class="fs-cell fs-lg-5 fs-md-3 fs-sm-3 fs-right">
      {% include 'breadcrumbs' %}
      <h1 id="product--title" itemprop="name">{{ product.title }}</h1>
      <h4 id="product--subtitle">{{ subtitle['subtitle'] }}</h4>
    </header>

    <hr class="fs-cell fs-lg-hide fs-md-hide fs-sm-full spaced">

    <div id="product--images" class="fs-cell fs-lg-7 fs-md-3 fs-sm-3">
      {% include 'product-images' %}
      <div id="product--specs" class="fs-row">
        <span class="spec-icon contains fs-cell fs-lg-fifth fs-md-fifth fs-sm-fifth"><img src="{{ 'icon-v.svg' | asset_url }}" class="img-responsive" /></span>
        <span class="spec-icon fs-cell fs-lg-fifth fs-md-fifth fs-sm-fifth"><img src="{{ 'icon-nuts.svg' | asset_url }}"  class="img-responsive" /></span>
        <span class="spec-icon fs-cell fs-lg-fifth fs-md-fifth fs-sm-fifth"><img src="{{ 'icon-acorn.svg' | asset_url }}" class="img-responsive" /></span>
        <span class="spec-icon fs-cell fs-lg-fifth fs-md-fifth fs-sm-fifth"><img src="{{ 'icon-egg.svg' | asset_url }}"   class="img-responsive" /></span>
        <span class="spec-icon fs-cell fs-lg-fifth fs-md-fifth fs-sm-fifth"><img src="{{ 'icon-milk.svg' | asset_url }}"  class="img-responsive" /></span>
      </div>
    </div>

    <hr class="fs-cell fs-lg-hide fs-md-hide fs-sm-full spaced">

    <div id="product--info"   class="fs-cell fs-lg-5 fs-md-3 fs-sm-3 fs-right">
      <form action="/cart/add" method="post" id="AddToCartForm" enctype="multipart/form-data">
      <div id="product--description" itemprop="description">
        {{ product.description }}
      </div>
      <div id="product--purchase" class="fs-row">

        {% assign hide_default_title = false %}
        {% if product.variants.size== 1 and product.variants.first.title contains '1+' %}
        {% assign hide_default_title = true %}
        {% endif %} 

        <div id="product--variants" class="fs-cell fs-all-full {% if hide_default_title %} hidden{% endif %}">

          <div class="select-wrappers{% if hide_default_title %} hidden{% endif %}">
            <select id="product-select" name="id" class="">
              {% for variant in product.variants %}
              {% if variant.metafields.shappify_qb.qb_hide == "1" %}{% continue %}{% endif %}
              <option{% if variant == product.selected_or_first_available_variant %} selected{% endif %} data-sku="{{ variant.sku }}" value="{{ variant.id }}">{{ variant.title }}</option>
              {% endfor %}
            </select>
          </div>
        </div>  

        <div id="product--quantity" class="fs-cell fs-all-full text-center">
          <input min="1" type="number" id="quantity" name="quantity" value="1" />
        </div>


        <!--
        <div id="product--add" class="fs-cell fs-lg-5 fs-md-6 fs-sm-half">
        <div id="product--add" class="fs-cell fs-lg-7 fs-md-6 fs-sm-2">
        -->

        {% if product.compare_at_price > product.price %}
        <div id="product--add" class="fs-cell fs-all-full">
        {% else %}
        <div id="product--add" class="fs-cell fs-all-full">
        {% endif %}

          <!-- Recurring Step: 1 -->
          <div class="fs-row">

            <input name="shopify_customer_id" type="hidden" value="{{ customer.id }}" > 
            <input name="email" type="hidden" value="{{ customer.email }}" > 
            <input name="address1" type="hidden" value="{{ customer.default_address.address1 }}" > 
            <input name="address2" type="hidden" value="{{ customer.default_address.address2 }}" > 
            <input name="city" type="hidden" value="{{ customer.default_address.city }}" > 
            <input name="company" type="hidden" value="{{ customer.default_address.company }}" > 
            <input name="country" type="hidden" value="{{ customer.default_address.country }}" > 
            <input name="first_name" type="hidden" value="{{ customer.default_address.first_name }}" > 
            <input name="last_name" type="hidden" value="{{ customer.default_address.last_name }}" > 
            <input name="phone" type="hidden" value="{{ customer.default_address.phone }}" > 
            <input name="province" type="hidden" value="{{ customer.default_address.province }}" > 
            <input name="zip" type="hidden" value="{{ customer.default_address.zip }}" >
            {% include 'bold-ro' with product %}

            
              <input type="submit" name="add" id="add" class="fs-cell fs-lg-8 fs-md-4 fs-sm-2 btn btn-primary addtocart fs-right" value="Add to Cart">
              <!-- bold-ro-liquid --> 
              <div class="bold_add_to_orders" style="display: inline-block;"> </div> 
              <!-- bold-ro-liquid -->

             <div id="product--price" class="fs-cell fs-lg-4 fs-md-2 fs-sm-1 compared">

              {% assign variant = product.selected_or_first_available_variant %}
              {% if product.compare_at_price > product.price %}
              <span class="product-price on-sale" itemprop="price">{{ variant.price | money }}</span>
              <span class="product-compare-price">{{ variant.compare_at_price | money }}</s>
              {% else %}
              <span class="product-price" itemprop="price">{{ variant.price | money }}</span>
              {% endif %}

            </div>

          </div>
          
        </div>
      </div>
      </form>
    </div>
    
    <hr class="fs-cell fs-all-full invisible">
    <hr class="fs-cell fs-all-full invisible">

    <div id="product--tabs" class="fs-cell fs-all-full">
      <nav class="tabs text-center">
        <a href="#tab-4" class="tab btn btn-tab" data-tabs-group="tab-1" style="display:none;">Ingredients</a>
        {% unless tabs == empty %}
        <a href="#tab-1" class="tab btn btn-tab" data-tabs-group="tab-1">Ingredients</a>
        {% endunless %}
        <!--<a href="#tab-2" class="tab btn btn-tab" data-tabs-group="tab-1">Nutrition</a>-->
        <a href="#tab-3" class="tab btn btn-tab" data-tabs-group="tab-1">Fan Mail</a>
      </nav>


      {% unless tabs == empty %}
      <div class="tab_content" id="tab-1">  
        {{ tabs['ingredients'] }}
      </div>
      {% endunless %}
      <!--
      <div class="tab_content" id="tab-2">
        {{ tabs['nutrition'] }}
      </div>
      -->
      <div class="tab_content" id="tab-3">
        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
      </div>
    </div>

    
    <hr class="fs-cell fs-all-full invisible">
    
    <div id="product--automatic" class="fs-cell fs-all-full">
      
      <h1>Automatic Divvies</h2>
      <p>
        Divvies delivered to your door every month? What a great idea!  Just sign up for Automatic 
        Divvies and you'll receive 15% off your monthly shipment. Convenience , savings, and one 
        thing off of your "to do" list.  Automatic Divvies also makes a wonderful gift and lets 
        someone know you are always thinking of them.  Need to cancel your Automatic Divvies? Just 
        call us and we'll be happy to take care of this for you.
      </p>
      <!--<a type="submit" name="add" id="add" class="btn btn-primary auto-click">Subscribe to Automatic Divvies</a>-->

    </div>
   
  </div>

  <hr class="fs-cell fs-all-full invisible">

  <header id="more--header" class="more header fs-row">
    <div class="fs-cell fs-all-full">
      <h1 class="header--title more">More to love</h1>
    </div>
  </header>

  <div id="product--collection-grid" class="collection-grid related-items fs-row">
    {% include 'related-products-manual' %}
    {% include 'related-products' %}
  </div>


</section>
<hr class="invisible">

{% include 'product-scripts' %}

<div id="qty_modal">
  <div id="qty_modal--content">
    <div class="fs-row">
      <div class="fs-cell fs-lg-7 fs-md-4 fs-sm-3 fs-centered">
        <div id="product--thing">
          <h3>Quantity Breaks <a href="#" data-swap-target="#qty_modal" class="qty-toggle qty-linked fl-right ss-gizmo ss-delete" data-swap-linked=".qty-linked"></a></h3>
          <div id="shappify-qty-msg"></div>
          <div class="text-right">
            <br>
            <a id="addThree" class="btn bg-color-orange" data-swap-target="#qty_modal" data-swap-linked=".qty-linked">Buy 3 and Save</a>
            <a id="addFive" class="btn bg-color-orange" data-swap-target="#qty_modal" data-swap-linked=".qty-linked">Buy 5 and Save</a>
            <a href="#" class="btn bg-color-gray qty-toggle qty-linked" data-swap-target="#qty_modal" data-swap-linked=".qty-linked">Continue Shopping</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
$(".auto-click").on('click', function(){
  $('#customButton').click();
  //setTimeout(function(){});
});
$("#addThree").on('click', function(){
  $('.js-qty__adjust--plus').click();
  $('.js-qty__adjust--plus').click();
  $('#add').click();
  $('.qty-toggle').swap('deactivate');
  //setTimeout(function(){});
});
$("#addFive").on('click', function(){
  $('.js-qty__adjust--plus').click();
  $('.js-qty__adjust--plus').click();
  $('.js-qty__adjust--plus').click();
  $('.js-qty__adjust--plus').click();
  $('#add').click();
  $('.qty-toggle').swap('deactivate');
  //setTimeout(function(){});
});
</script>