{% include 'account-header' %}

<header class="page-header page-header-banner">
<h1><span>{{ 'customer.register.title' | t }}</span></h1>
</header>
<hr class="invisible">

<div id="account-register" class="text-center">
{% form 'create_customer' %}
{{ form.errors | default_errors }}
<!--<label for="FirstName" class="hidden-label">{{ 'customer.register.first_name' | t }}</label>-->
<input type="text" name="customer[first_name]" id="FirstName" class="form-entry text-center simple bg-color bg-color-gray input-full" placeholder="{{ 'customer.register.first_name' | t }}" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
<!--<label for="LastName" class="hidden-label">{{ 'customer.register.last_name' | t }}</label>-->
<input type="text" name="customer[last_name]" id="LastName" class="form-entry text-center simple bg-color bg-color-gray input-full" placeholder="{{ 'customer.register.last_name' | t }}" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
<!--<label for="Email" class="hidden-label">{{ 'customer.register.email' | t }}</label>-->
<input type="email" name="customer[email]" id="Email" class="form-entry text-center simple bg-color bg-color-gray input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.register.email' | t }}" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
<!--<label for="CreatePassword" class="hidden-label">{{ 'customer.register.password' | t }}</label>-->
<input type="password" name="customer[password]" id="CreatePassword" class="form-entry text-center simple bg-color bg-color-gray input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.register.password' | t }}">
<p>
<input type="submit" value="{{ 'customer.register.submit' | t }}" class="form-btn btn btn-lg bg-color bg-color-lightblue">
</p>
<a href="{{ shop.url }}">{{ 'customer.register.cancel' | t }}</a>

{% endform %}
</div>

{% include 'account-footer' %}