<section id="page">

   <section id="account">
      <div class="fs-row">
         <div class="fs-cell fs-lg-6 fs-md-3 fs-sm-3">
            <header class="page-header page-header-banner">
               <h1><span>{{ 'customer.account.title' | t }}</span></h1>
            </header>
            <hr class="invisible">
            <div class="page-content">
               <div class="form">
                <div class="form-subnav">
                  <p><a href="?account=myaccount" class="ss-gizmo ss-navigateleft">Return to Store</a></p>
                </div>
                <h2 class="form-title">Account Details & Order History</h2>
                <div class="form-entry">
                  <p>
                    {{ customer.name }}<br>
                    {{ customer.email }}
                  </p>
                </div>
                <div class="form-entry">
                  <p>

                    {{ customer.default_address.address1 }}<br>

                    {% if customer.default_address.address2 != "" %}
                    {{ customer.default_address.address2 }}<br>
                    {% endif %}

                    {% if customer.default_address.city != "" %}
                    {{ customer.default_address.city | capitalize }}, 
                    {% endif %}

                    {% if customer.default_address.province_code != "" %}
                    {{ customer.default_address.province_code | upcase }} 
                    {% endif %}

                    {% if customer.default_address.zip != "" %}
                    {{ customer.default_address.zip | upcase }}<br>
                    {% endif %}

                    {% if customer.default_address.country != "" %}
                    {{ customer.default_address.country }}<br>
                    {% endif %}

                    {% if customer.default_address.phone != "" %}
                    {{ customer.default_address.phone }}
                    {% endif %}
                    
                  </p>
                </div>
                <div class="form-entry">
                  <p>
                    <a href="/account/addresses">{{ 'customer.account.view_addresses' | t }} ({{ customer.addresses_count }})</a>
                  </p>
                </div>
              </div>
            </div>
         </div>
         <div class="fs-cell fs-lg-6 fs-md-3 fs-sm-3">
          {% include 'account-history' %}
         </div>
      </div>
   </section>
   <hr class="invisible">
</section>
