<!--<div class="fs-cell fs-lg-7 fs-md-6 fs-sm-3 fs-contained">-->
  <div class="cart-item clearfix">
    <div class="cart-item-cell fs-cell fs-lg-2 fs-md-1 fs-sm-fourth text-left"><img src="{{ item | img_url: 'medium' }}" class="img-responsive"/></div>
    <div class="cart-item-cell fs-cell fs-lg-4 fs-md-2 fs-sm-fourth text-left">
      <span class="info">
         <a class="cart-item-title" href="{{ item.url }}">{{ item.title }}</a><br>

          <!-- bold-ro-liquid -->
          {% for p in item.properties %}
            {% if p.first == "frequency_num" %}
              <script>
                mixed_cart = true;
              </script>
              <br>
              <span class="bold_ro_every">Every</span>
              <input type="hidden" name="{{ prod_index }}[number]" value={{p.last}} />
            {% endif %}

            {% if p.first == "frequency_type" %}
              <input type="hidden" name="{{ prod_index }}[type_id]" value={{p.last}} />
            {% endif %}

            {% if p.first == "frequency_num" or p.first == "frequency_type_text" %}
              {{ p.last }}
            {% endif %}
            {% if p.first == "group_id" %}
              <input type="hidden" name="{{ prod_index }}[group_id]" value={{p.last}} />
            {% endif %}
            {% if p.first == "discounted_price" %}
              <br><span class="bold_ro_discounted_price">Discounted Price</span>
              <span class="discounted_price_in_cart">{{ p.last }} </span> <span class="bold_ro_each">each</span>
            {% endif %}
          {% endfor %}
          <!-- bold-ro-liquid -->

         <span class="cart-item-variant"><small>S</small></span> — 
         <a href="/cart/change?line={{ forloop.index }}&quantity=0" class="cart-item-remove"><small>REMOVE</small></a>
      </span>
    </div>
    <div class="cart-item-cell fs-cell fs-lg-2 fs-md-1 fs-sm-hide text-center"><span class="info">
     
      <!-- FIX RO ITEM PRICES -->
      {% if item.properties.discounted_price != blank %}
      {% assign ro_price = item.properties.discounted_price %}
      {% assign ro_first_character = ro_price | remove: ' ' | slice: 0 %}
      {% assign ro_first_character_test = ro_first_character | plus: 0 %}

      {% if ro_first_character_test == 0 %}
      {% assign ro_price = ro_price | remove: ro_first_character %}
      {% endif %}

      {% assign ro_item_price = ro_price | split: ' ' | first | times: 100 %}
      {% assign ro_line_item_price = ro_item_price | times: item.quantity %}

      {% else %}
      {% assign ro_item_price = item.price %}
      {% assign ro_line_item_price = item.line_price %}    
      {% endif %}
      <!-- END RO ITEM PRICES -->

      {{ ro_item_price | money  }}
    </span></div>
    <div class="cart-item-cell cart-item-qty fs-cell fs-lg-2 fs-md-1 fs-sm-fourth text-center">
      <div class="info"><input type="number" name="updates[]" id="updates_{{ item.id }}" value="{{ item.quantity }}" min="0"></div>
    </div>
    <div class="cart-item-cell fs-cell fs-lg-2 fs-md-1 fs-sm-fourth text-right"><span class="info">{{ ro_line_item_price | money  }}</span></div>
    <hr class="fs-cell fs-all-full divider">
  </div>
<!--</div>-->