<h1>Get your Divvies Locally</h1>
<hr class="divider compact">
<br>

{% form 'contact' %}

{% comment %}
Successful message
{% endcomment %}

{% assign yourFirst = 'First Name' %}
{% assign yourLast  = 'Last Name' %}
{% assign yourCity  = 'Your City' %}
{% assign yourState = 'Your State' %}
{% assign yourEmail = 'Your Email' %}
{% assign yourFaves = 'Your favorite Divvies treats' %}

{% assign purvFood  = 'The food purveyor you would like to carry Divvies' %}
{% assign purvAddr  = 'Address' %}
{% assign purvPhone = 'Phone Number' %}
{% assign purvEmail = 'Email' %}
{% assign purvCity  = 'City' %}
{% assign purvState = 'State' %}

{% assign message  = '"Submit" will send this information to Divvies so we can work together to get Divvies in the aisles of your favorite stores.
It will also bring up a form that you can print out and fill in to bring to your favorite purveyor and show you mean "business". We included a section for you to be able to add your own special reasons for wanting your local stores to carry Divvies' %}


{% if form.posted_successfully? %}
<p class="note form-success">
{{ 'contact.form.post_success' | t }}
</p>
{% endif %}

{{ form.errors | default_errors }}
<h3 class="color-orange">About You</h3>

<div class="fs-row">
<div class="fs-cell fs-lg-half fs-md-half fs-sm-3">
<label for="contactFirstname" class="hidden-label">{{ yourFirst }}</label>
<input type="text" id="contactFirstname" class="input-full" name="contact[yourFirst]" placeholder="{{ yourFirst }}" autocorrect="off" autocapitalize="off" value="">
</div>
<div class="fs-cell fs-lg-half fs-md-half fs-sm-3">
<label for="contactLastname" class="hidden-label">{{ yourLast }}</label>
<input type="text" id="contactLastname" class="input-full" name="contact[yourLast]" placeholder="{{ yourLast }}" autocorrect="off" autocapitalize="off" value="">
</div>
</div>

<div class="fs-row">
<div class="fs-cell fs-lg-half fs-md-half fs-sm-3">
<label for="contactCity" class="hidden-label">{{ yourCity }}</label>
<input type="text" id="contactCity" class="input-full" name="contact[yourCity]" placeholder="{{ yourCity }}" autocorrect="off" autocapitalize="off" value="">
</div>
<div class="fs-cell fs-lg-half fs-md-half fs-sm-3">
<label for="contactState" class="hidden-label">{{ yourState }}</label>
<input type="text" id="contactState" class="input-full" name="contact[yourState]" placeholder="{{ yourState }}" autocorrect="off" autocapitalize="off" value="">
</div>
</div>

<label for="contactEmail" class="hidden-label">{{ yourEmail }}</label>
<input type="text" id="contactEmail" class="input-full" name="contact[yourEmail]" placeholder="{{ yourEmail }}" autocorrect="off" autocapitalize="off" value="">

{% comment %}

<label for="ContactFormMessage" class="hidden-label">{{ yourFaves }}</label>
<input type="text" id="ContactFormEmail" class="input-full" name="contact[yourFaves]" placeholder="{{ yourFaves }}" autocorrect="off" autocapitalize="off" value="">

<hr class="divider">

<h3 class="color-orange">About Your Food Purveyor</h3>
<label for="PurveyorFormMessage" class="hidden-label">The food purveyor you would like to carry Divvies</label>
<textarea rows="2" id="PurveyorFormMessage" class="input-full" name="contact[purvAbout]" placeholder="{{ 'contact.form.message' | t }}">{% if form.body %}{{ form.body }}{% endif %}</textarea>

<label for="ContactFormEmail" class="hidden-label">{{ purvAddr }}</label>
<input type="text" id="ContactFormEmail" class="input-full" name="contact[purvAddr]" placeholder="{{ purvAddr }}" autocorrect="off" autocapitalize="off" value="">

<div class="fs-row">
<div class="fs-cell fs-lg-half fs-md-half fs-sm-3">
<label for="ContactFormEmail" class="hidden-label">{{ purvPhone }}</label>
<input type="text" id="ContactFormEmail" class="input-full" name="contact[purvPhone]" placeholder="{{ purvPhone }}" autocorrect="off" autocapitalize="off" value="">
</div>
<div class="fs-cell fs-lg-half fs-md-half fs-sm-3">
<label for="ContactFormEmail" class="hidden-label">{{ purvEmail }}</label>
<input type="text" id="ContactFormEmail" class="input-full" name="contact[purvEmail]" placeholder="{{ purvEmail }}" autocorrect="off" autocapitalize="off" value="">
</div>
</div>

<div class="fs-row">
<div class="fs-cell fs-lg-half fs-md-half fs-sm-3">
<label for="ContactFormEmail" class="hidden-label">{{ purvCity }}</label>
<input type="text" id="ContactFormEmail" class="input-full" name="contact[purvCity]" placeholder="{{ purvCity }}" autocorrect="off" autocapitalize="off" value="">
</div>
<div class="fs-cell fs-lg-half fs-md-half fs-sm-3">
<label for="ContactFormEmail" class="hidden-label">{{ purvState }}</label>
<input type="text" id="ContactFormEmail" class="input-full" name="contact[purvState]" placeholder="{{ purvState }}" autocorrect="off" autocapitalize="off" value="">
</div>
</div>

{% endcomment %}

<hr class="divider">

<input type="submit" class="btn right bg-color-orange btn-primary" value="Submit">

<hr class="divider compact">
<small>{{ message }}</small>

{% endform %}